<h1>Feelings</h1>


  <% @feelings.each do |feeling| %>
    <div class="card card-feeling">
    <h2><%= feeling.title %></h2>
    <h3><%= feeling.category %></h3>
    <p><%= feeling.description %></p>
    <p><%= feeling.price %> €</p>
    <%= link_to 'More info', feeling_path(feeling) %>
  </div>
  <% end %>
