<h1>Sell a feeling</h1>

<%= simple_form_for (@feeling)do |f| %>
<%= f.input :title, placeholder: 'Title' %>
<%= f.input :category, collection: Feeling::CATEGORIES %>
<%= f.input :description, placeholder: 'Description' %>
<%= f.input :price, placeholder: 'Price' %>
<%= f.input :image, as: :file %>
<%= f.submit class: 'btn btn-primary' %>
<% end %>
