
<div class="container p-3">
  <div class="row">
      <div class="col-6 pt-2"><h2><%= @feeling.title.capitalize %></h2>
      <p style="color: gray;">Feeling Details</p>
      </div>
      <div class="col-6 pt-2 d-flex flex-column align-items-end justify-content-center"><h5 style="color: gray;">Category : <%= @feeling.category.capitalize %></h5>
      <div class="d-flex justify-content-end"><%= link_to 'Back to feelings list', feelings_path, class: "glow-on-hover"  %></div>
      </div>
  </div>
</div>
<div class="container">
  <% if @feeling.image.attached? %>
    <%= cl_image_tag @feeling.image.key, :height => 400, class: 'feeling-banner-img w-100 shadow-sm', style: 'object-fit: cover;' %>
  <% else %>
    <%= image_tag "banner.jpg", class: 'feeling-banner-img w-100 rounded-3' %>
  <% end %>
</div>

<div class="container p-4">
  <div class="row align-items-center">
    <div class="col-12 col-lg-8 p-4">
      <div class=""><p><%= @feeling.description %></p></div>
      <h4>What they think about it :</h4>
      <div class=""><ul class="list-unstyled"><% @feeling.reviews.each do |review| %>
        <li>
          <p>
            <%= review.content %>
          </p>
          <p><%= '⭐' * review.rating  %></p>
        </li>
        <% end %>
      </ul>
      </div>
    </div>
    <div class="col-12 col-lg-4 p-3 mb-5 shadow-sm rounded-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'Background.jpg' %>)">
       <div class="price-card">
        <div class="d-flex flex-column align-items-end justify-content-center">
          <p>Price per day:</p>
          <p style="font-size: 20px; font-weight: bolder;"><%= @feeling.price %> €</p>
          <p>Sold by: <%= @feeling.user.name %></p>
        </div>
        <div>
          <% if @feeling.availibility %>
              <div id="button-details"><%= link_to 'I want to feel this', new_feeling_booking_path(@feeling), class: "glow-on-hover" %></div>
             <% else %>
             <div class="d-flex align-items-start justify-content-start"><%= "Sorry, this feeling's already booked" %></div>
             <% end %>
          </p>
          <% if policy(@feeling).edit? %>
            <div id="button-details"><%= link_to 'Edit this feeling', edit_feeling_path(@feeling), class: "glow-on-hover" %></div>
          <% end %>
          <div id="button-details"><%= link_to 'How was it?', new_feeling_review_path(@feeling), class: "glow-on-hover" %></div>
        </div>
      </div>
    </div>
  </div>
</div>
