
<div class="container p-4">
  <div class="row">
      <div class="col-6"><h2>Feeling details for <%= @feeling.title %></h2></div>
      <div class="col-6"><h4 class="text-right">Category : <%= @feeling.category %></h4></div>
  </div>
</div>
<div class="container">
  <% if false %>
    <%= image_tag(@feeling.img class: 'feeling-banner-img w-100 rounded-3') %>
  <% else %>
    <%= image_tag("https://picsum.photos/600/200", class: 'feeling-banner-img w-100 rounded-3' ) %>
  <% end %>
</div>

<div class="container p-4">
  <div class="row align-items-center">
    <div class="col-12 col-lg-8 border-bottom">
      <div class=""><p><%= @feeling.description %></p></div>
    </div>
    <div class="col-12 col-lg-4 shadow p-3 mb-5 bg-body ">
       <div class="price-card ">
        <h4><%= @feeling.price %> €</h4>

        <p><% if @feeling.availibility %>
           <button name="button" type="submit"><%= link_to 'Book me!', new_feeling_booking_path(@feeling) %></button>
           <% else %>
           <%= 'Sorry, no availibility for this feeling' %>
           <% end %>
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
      <div class="col-6 col-sm-3"><%= link_to 'Edit your informations', edit_feeling_path(@feeling), class: 'btn btn-primary' %></div>
      <div class="col-6 col-sm-3"><%= link_to 'Back to the list', feelings_path, class: 'btn btn-primary'  %></div>
  </div>
</div>

