
<div class="form">
  <h2 style="text-align: center; margin: 20px;">Get some <%= @feeling.title %></h2>

    <p>Which dates would you like to receive this feeling?</p>

      <%= simple_form_for [@feeling, @booking] do |f| %>
      <%= f.input :check_in, as: :date, placeholder: 'DD/MM/YYYY' %>
      <%= f.input :check_out, as: :date, placeholder: 'DD/MM/YYYY' %>

  <p>Grand total: <%= @booking.total_price %></p>

  <div class="form-actions">
 <div class="row justify-content-end">
<div class="col-2 d-flex justify-content-end">
  <div class="glow-on-hover" style="border: 1px solid #CED4D9">
    <%= f.submit class: 'btn' %>
        </div>
  </div>
</div>
</div>
    <% end %>
  </div>
